{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- end }}

[
  {
    "modules-left": [
      "hyprland/workspaces"
    ],
    "modules-center": [],
    "modules-right": [
      // "tray",
      "custom/suspend",
      "custom/picker",
      "custom/notes",
      "network",
      "bluetooth",
      "hyprland/language",
      "pulseaudio#microphone",
      "pulseaudio#audio",
{{- if ne $chassisType "desktop" }}
      "backlight",
      "battery",
{{- end }}
      "clock"
    ],
    "height": 24,
    "position": "bottom",
{{- if eq $chassisType "desktop" }}
    "output": [ "DVI-I-1" ],
    "layer": "overlay",
{{- else }}
    "output": [ "LVDS-1" ],
{{- end }}
    "backlight": {
      "format": "   {}%",
      "on-scroll-down": "brightnessctl set 1%-",
      "on-scroll-up": "brightnessctl set +1%"
    },
    "bluetooth": {
      "format": "  {}",
      "on-click": "footclient bluetui"
    },
    "battery": {
      "interval": 30,
      "states": {
        "critical": 15
      },
      "format": "{icon}  {capacity}%",
      "format-icons": [
        " ",
        " ",
        " ",
        " ",
        " "
      ]
    },
    "clock": {
      "format": "  {:%d/%m     %H:%M}",
      "on-click": "footclient -m bash -c 'cal $(date +%Y) -m; read'"
    },
    "cpu": {
      "format": "   {1}%",
      "on-click": "footclient htop -s PERCENT_CPU"
    },
    "custom/picker": {
      "format": " ",
      "on-click": "hyprpicker -a"
    },
    "custom/suspend": {
      "format": " ",
      "on-click": "systemctl suspend && hyprlock --immediate"
    },
    "custom/notes": {
      "format": " ",
      "on-click": "footclient -D $HOME/Repos/notes nvim 1.Notes/notes.md"
    },
    "hyprland/language": {
      "format": "   {1}",
{{- if eq $chassisType "desktop" }}
      "on-click": "hyprctl switchxkblayout hid-04b4:6014 next"
{{- else }}
      "on-click": "hyprctl switchxkblayout at-translated-set-2-keyboard next"
{{- end }}
    },
    "hyprland/workspaces": {
      "all-outputs": true,
    },
    "memory": {
      "format": "   {0}%",
      "on-click": "footclient htop -s PERCENT_MEM"
    },
    "network": {
      "format-disconnected": "✕",
      "format-ethernet": " ",
      "format-wifi": " ",
      "on-click": "footclient nmtui",
      "on-click-right": "nmcli dev wifi rescan"
    },
    "power-profiles-daemon": {
      "format": "   {}"
    },
    "pulseaudio#audio": {
      "format": "   {1}%",
      // "on-click": "current=$(pactl list sinks | grep 'Active Port:' | grep 'analog' | cut -d' ' -f3)\nif [[ $current == \"analog-output-lineout\" ]]; then\n    pactl set-sink-port 0 analog-output-headphones\nelif [[ $current == \"analog-output-headphones\" ]]; then\n    pactl set-sink-port 0 analog-output-lineout\nfi\n",
      "on-click": "pavucontrol",
      "on-click-right": "pavucontrol",
      "on-click-middle": "pactl set-sink-mute $(pactl get-default-sink) toggle",
      "max-volume": 150
    },
    "pulseaudio#microphone": {
      "format": "{format_source}",
      "on-click": "pactl set-source-mute $(pactl get-default-source) toggle",
      "format-source": "  ",
      "format-source-muted": ""
    }
  }
]
