{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- end }}

$menu = fuzzel
$mod = ALT
$screenshot = SCREENSHOT_PATH="$HOME/Pictures/Screenshots/$(date +%Y%m%d-%H%M%S).png"; grim -g "$(slurp -w 0)" "$SCREENSHOT_PATH"; wl-copy < $SCREENSHOT_PATH
$terminal = footclient

exec-once = xhost + local:
# NOTE: I have polkitd running on my system, bu if its not uncomment this line
# exec-once = /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
exec-once = yambar
exec-once = hypridle
# exec-once = swaybg -i ~/Pictures/Wallpapers/wallpaper.jpg
exec-once = foot --server

# XDG
env = XDG_SESSION_TYPE,wayland
env = XDG_CURRENT_DESKTOP,Hyprland
env = XDG_SESSION_DESKTOP,Hyprland

animations {
    animation = windows, 1, 8, default, popin 80%
    animation = border, 1, 10, default
    animation = borderangle, 1, 8, default
    animation = fade, 1, 7, default
    animation = workspaces, 1, 6, default, slidefade 20%
    enabled = true
}

decoration {
    blur {
        enabled = false
        passes = 1
        size = 3
        vibrancy = 0.169600
    }
    rounding = 5
}

master {
    mfact = 0.5
}

general {
    border_size = 0
    gaps_in = 2
    gaps_out = 0
    layout = master
}

input {
    touchpad {
        natural_scroll = true
        scroll_factor = 0.200000
    }
    kb_layout = pl, us
    kb_options = caps:escape
    numlock_by_default = true
    repeat_delay = 300
    repeat_rate = 40
{{- if eq $chassisType "desktop" }}
    sensitivity = -0.2
{{- end }}
}

misc {
    disable_splash_rendering = true
    force_default_wallpaper = 0
    middle_click_paste = false
}

{{- if eq $chassisType "desktop" }}
monitor = DVI-D-2, 1920x1080@60, 0x60, 1
monitor = HDMI-A-1, 1920x1080@75, 1920x0, 1
monitor = DP-1, 1440x900@75, 3840x100, 1
{{- else }}
monitor = HDMI-A-1, 1920x1080@75, 0x0, 1
monitor = LVDS-1, 1600x900@60, 0x0, 1
monitor = VGA-1, 1920x1080@60, 1600x0, 2
{{- end }}

bind = $mod Ctrl, T, exec, $terminal
# bind = $mod, Return, exec, $terminal
bind = $mod Shift, Return, exec, $terminal
bind = $mod, Q, killactive
bind = $mod, M, exit
bind = $mod, W, fullscreen
bind = $mod, F, togglefloating
bind = $mod, P, exec, $menu
bind = $mod, Space, exec, $menu
bind = $mod, Tab, focuscurrentorlast
bind = $mod Ctrl Shift, l, exec, hyprlock --immediate
bind = , Print, exec, $screenshot

bind = $mod, h, movefocus, l # focusmonitor, +1
bind = $mod, l, movefocus, r # focusmonitor, -1
bind = $mod, k, movefocus, u
bind = $mod, j, movefocus, d

bind = $mod Shift, h, movewindow, l
bind = $mod Shift, l, movewindow, r
bind = $mod Shift, k, movewindow, u
bind = $mod Shift, j, movewindow, d

bind = $mod Shift, Left, movewindow, l
bind = $mod Shift, Right, movewindow, r
bind = $mod Shift, Up, movewindow, u
bind = $mod Shift, Down, movewindow, d

bind = $mod, left, movefocus, l
bind = $mod, right, movefocus, r
bind = $mod, up, movefocus, u
bind = $mod, down, movefocus, d
bind = $mod Ctrl, h, resizeactive, -50 0
bind = $mod Ctrl, l, resizeactive, 50 0
bind = $mod Ctrl, k, resizeactive, 0 -50
bind = $mod Ctrl, j, resizeactive, 0 50
bindm = $mod, mouse:272, movewindow
bindm = $mod, mouse:273, resizewindow

bind = $mod, 1, workspace, 1
bind = $mod, 2, workspace, 2
bind = $mod, 3, workspace, 3
bind = $mod, 4, workspace, 4
bind = $mod, 5, workspace, 5
bind = $mod, 6, workspace, 6
bind = $mod, 7, workspace, 7
bind = $mod, 8, workspace, 8
bind = $mod, 9, workspace, 9
bind = $mod, 0, workspace, 10
bind = $mod, KP_End, workspace, 1
bind = $mod, KP_Down, workspace, 2
bind = $mod, KP_Next, workspace, 3
bind = $mod, KP_Left, workspace, 4
bind = $mod, KP_Begin, workspace, 5
bind = $mod, KP_Right, workspace, 6
bind = $mod, KP_Home, workspace, 7
bind = $mod, KP_Up, workspace, 8
bind = $mod, KP_Prior, workspace, 9
bind = $mod, KP_Insert, workspace, 10
bind = $mod SHIFT, 1, movetoworkspace, 1
bind = $mod SHIFT, 2, movetoworkspace, 2
bind = $mod SHIFT, 3, movetoworkspace, 3
bind = $mod SHIFT, 4, movetoworkspace, 4
bind = $mod SHIFT, 5, movetoworkspace, 5
bind = $mod SHIFT, 6, movetoworkspace, 6
bind = $mod SHIFT, 7, movetoworkspace, 7
bind = $mod SHIFT, 8, movetoworkspace, 8
bind = $mod SHIFT, 9, movetoworkspace, 9
bind = $mod SHIFT, 0, movetoworkspace, 10

{{- if eq $chassisType "desktop" }}
workspace = 1, monitor:HDMI-A-1,default:true
workspace = 2, monitor:HDMI-A-1
workspace = 3, monitor:HDMI-A-1
workspace = 4, monitor:HDMI-A-1
workspace = 5, monitor:HDMI-A-1
workspace = 6, monitor:DP-1,default:true
workspace = 7, monitor:DP-1
workspace = 8, monitor:DP-1
workspace = 9, monitor:HDMI-A-1
# workspace = 1, monitor:HDMI-A-1,default:true
# workspace = 2, monitor:HDMI-A-1
# workspace = 3, monitor:HDMI-A-1
# workspace = 4, monitor:HDMI-A-1
# workspace = 5, monitor:DVI-D-2,default:true
# workspace = 6, monitor:DVI-D-2
# workspace = 7, monitor:DVI-D-2
# workspace = 8, monitor:DP-1,default:true
# workspace = 9, monitor:DP-1
{{- end }}
