{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- end }}

general {
    lock_cmd = pidof hyprlock || hyprlock       # avoid starting multiple hyprlock instances.
    before_sleep_cmd = loginctl lock-session    # lock before suspend.
    after_sleep_cmd = hyprctl dispatch dpms on  # to avoid having to press a key twice to turn on the display.
}

{{- if eq $chassisType "desktop" }}
{{- else }}
listener {
    timeout = 150                                # 2.5min.
    on-timeout = brightnessctl -s set 250        # set monitor backlight to 10%.
    on-resume = brightnessctl -r                 # monitor backlight restore.
}
{{- end }}

listener {
    {{- if eq $chassisType "desktop" }}
    timeout = 600                                 # 10min
    {{- else }}
    timeout = 300                                 # 5min
    {{- end }}
    on-timeout = loginctl lock-session            # lock screen when timeout has passed
}

listener {
    {{- if eq $chassisType "desktop" }}
    timeout = 660                                 # 11min
    {{- else }}
    timeout = 330                                 # 5.5min
    {{- end }}
    on-timeout = hyprctl dispatch dpms off        # screen off when timeout has passed
    on-resume = hyprctl dispatch dpms on          # screen on when activity is detected after timeout has fired.
}

listener {
    {{- if eq $chassisType "desktop" }}
    timeout = 900                                 # 15min
    {{- else }}
    timeout = 600                                 # 10min
    {{- end }}
    on-timeout = systemctl suspend                # suspend pc
}
